node_modules/
cartridges/eshop_custom_site/cartridge/static/default/css/
cartridges/eshop_custom_site/cartridge/static/default/js/
cartridges/eshop_custom_site/cartridge/static/default/fonts/

cartridges/eshop_custom_site/cartridge/static/fr_FR/css/
cartridges/eshop_custom_site/cartridge/static/fr_FR/js/
cartridges/eshop_custom_site/cartridge/static/fr_FR/fonts/

cartridges/eshop_custom_site/cartridge/static/it_IT/css/
cartridges/eshop_custom_site/cartridge/static/it_IT/js/
cartridges/eshop_custom_site/cartridge/static/it_IT/fonts/

cartridges/eshop_custom_site/cartridge/static/ja_JP/css/
cartridges/eshop_custom_site/cartridge/static/ja_JP/js/
cartridges/eshop_custom_site/cartridge/static/ja_JP/fonts/

cartridges/eshop_custom_site/cartridge/static/zh_CN/css/
cartridges/eshop_custom_site/cartridge/static/zh_CN/js/
cartridges/eshop_custom_site/cartridge/static/zh_CN/fonts/

cartridges/eshop_custom_site/cartridge/static/en_GB/css/
cartridges/eshop_custom_site/cartridge/static/en_GB/js/
cartridges/eshop_custom_site/cartridge/static/en_GB/fonts/

coverage/
npm-debug.log
cartridges.zip
.idea/
dw.json
.DS_Store
test/appium/webdriver/config.json
.vscode
.history
*.iml
.idea
test/acceptance/report
test/integration/config.json
